body  {
  background-color: white;
  color: black;
  background-image: url("../pic.png");
}

#home  {
  float: left;
  color: white;
}
.quote  {
  text-align: center;
  color: black;
}
h1  {
  text-align: center;
  color: black;
}


.welcome  {
  text-align: center;
}

.image  {
  float: right;
  height: 1px;
  width: 1px;
}
#aboutme  {
  background-color: black;
  margin-left: 60px;
  margin-right: 60px;
  color: white;
}

#projects  {
  background-color: red;
  margin-left: 70px;
  margin-right: 70px;
  color: white;

}

#contacts  {
  background-color: green;
  margin-left: 70px;
  margin-right: 70px;
  color: white;
}
